body {
    text-align: center;
}

.logo {
    width: 300px;
    height: 300px;
}

.human-body {
    position: absolute;
    top: 130px;
    left: 500px;
    width: 400px;
    height: 600px;
}

.mae-body {
    position: absolute;
    top: 5px;
    left: 540px;
    width: 300px;
    height: 600px;
}

.start-button {
    width: 100px;
    height: 50px;
}

.back-button {
    width: 150px;
    height: 50px;
}

.change-btn {

    width: 100px;
    height: 50px;

}

.change1-btn {
    top: 5px;
    left: 540px;
    width: 300px;
    height: 600px;
}

.btn-wrapper {
    float: right;
}

.ul-1 {
    position: absolute;
    right: 20%;
}

.ul-2 {
    position: absolute;
    right: 10%;
}

.ul-3 {
    position: absolute;
    right: 60%;
}


ul {
    margin-left: auto;
    margin-right: auto;
}

li {
    list-style: none;
    padding-top: 10px;
    display: inline-block;
}

button img {
    display: block;
}

button:active,
button img {
    position: relative;
}

.btns .change-btn {
    height: 100px;
    width: 100px;
}

.btns img {
    position:relative;
    height: 75px;
    width: 75px;
}

.f-clothes {
    position: absolute;
    top: 175px;
    left: 540px;
    width: 300px;
    height: 600px;
}

.t-clothes {
    position: absolute;
    top: 175px;
    left: 550px;
    width: 300px;
    height: 600px; 
}

.makima-clothes {
    position: absolute;
    top: 75px;
    left: 550px;
    width: 300px;
    height: 600px; 
}

.hidden-form {
    display: none;
}

.sano {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 1);
}

#sano-2 {
    background-image: url('../images/sano-2.png');
}

#sano-uni {
    background-image: url('../images/X-bot.png');
    background-size: 55%;
}