{% extends "partial/_base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block content %}
    <h1>IndoorStylist</h1>
    <h2>お家に居ながらファッションショー??</h2>
    <img src="{{ url_for('static', filename='/images/icon.png') }}" class="logo">
    <h2>着せ替えしてみる</h2>
    <form action="/nextpage" method="get">
        <input type="submit" value='Start' class="start-button">
    </form>
    <h2>3Dモデル版はこちら</h2>
    <form action="/thirdpage" method="get">
        <input type="submit" value="3DModel" class="start-button">
    </form>
{% endblock %}