{% extends "partial/_base.html" %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/threemodel.css') }}">
{% endblock %}

{% block content %}

    <script type="importmap">
      {
        "imports": {
          "three": "./static/js/three.module.js"
        }
      }
    </script>
    <script type="module">
      import * as THREE from 'three';

      import { GLTFLoader } from './static/js/GLTFLoader.js';
      import { OrbitControls } from './static/js/OrbitControls.js';
      let camera, scene, renderer;

			init();
			render();

			function init() {

				const container = document.createElement( 'div' );
				document.body.appendChild( container );

				camera = new THREE.PerspectiveCamera( 45, window.innerWidth / window.innerHeight, 0.25, 20 );
				camera.position.set( - 1.8, 0.6, 2.7 );

				scene = new THREE.Scene();


						// model

				const loader = new GLTFLoader().setPath( './static/glb/' );
				loader.load( 'Flower.glb', function ( gltf ) {

          scene.add( gltf.scene );

          render();
        } ) ;  


				renderer = new THREE.WebGLRenderer( { antialias: true } );
				renderer.setPixelRatio( window.devicePixelRatio );
				renderer.setSize( window.innerWidth, window.innerHeight );
				renderer.toneMapping = THREE.ACESFilmicToneMapping;
				renderer.toneMappingExposure = 1;
				container.appendChild( renderer.domElement );

				const controls = new OrbitControls( camera, renderer.domElement );
				controls.addEventListener( 'change', render ); // use if there is no animation loop
				controls.minDistance = 2;
				controls.maxDistance = 10;
				controls.target.set( 0, 0, - 0.2 );
				controls.update();

				window.addEventListener( 'resize', onWindowResize );

			}

			function onWindowResize() {

				camera.aspect = window.innerWidth / window.innerHeight;
				camera.updateProjectionMatrix();

				renderer.setSize( window.innerWidth, window.innerHeight );

				render();

			}

			//

			function render() {

				renderer.render( scene, camera );

			}

    </script>



  <div class="back-button-container">
    <form action="/templates" method="get">
      <input type="submit" value='Back' class="back-button">
    </form>
  </div>


  <script async src="https://unpkg.com/es-module-shims@1.3.6/dist/es-module-shims.js"></script>
{% endblock %}