<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <!-- three.jsを読み込む -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/three.js') }}"></script>
        <!-- index.jsを読み込む -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/threeModel.js') }}"></script>
        <meta charset="utf-8">
        <!-- どのデバイスで見ても見え方を一緒にする = レスポンシブデザイン -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <canvas id="myCanvas"></canvas>
        <form action="/templates" method="get">
            <input type="submit" value='Back' class="back-button">
        </form>
    </body>
</html>