<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Load a 3D model</title>
    <style>
      body {
        margin: 0;
        display: flex;
        flex-direction: column;
        height:100px;
        overflow:hidden;
      }
      .back-button-container {
        text-align: center;
        padding: 10px;
      }

      .back-button {
        border: 1px soild #333;
        padding: 10px 20px;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <script
      async
      src="https://unpkg.com/es-module-shims@1.3.6/dist/es-module-shims.js"
    ></script>

    <script type="importmap">
      {
        "imports": {
          "three": "./static/js/three.module.js"
        }
      }
    </script>
    <script type="module">
      import * as THREE from 'three';

      import { MTLLoader } from './static/js/MTLLoader.js';
      import { OBJLoader } from './static/js/OBJLoader.js';
      import { OrbitControls } from './static/js/OrbitControls.js';

      var scene = new THREE.Scene();
      var camera = new THREE.PerspectiveCamera(
        50,
        window.innerWidth / window.innerHeight,
        1,
        1000
      );

      var renderer = new THREE.WebGLRenderer({ antialias: true ,alpha:true});
      renderer.setPixelRatio(window.devicePixelRatio);
      renderer.setSize(window.innerWidth, window.innerHeight);

      document.body.appendChild(renderer.domElement);

      var ambientLight = new THREE.AmbientLight(0xcccccc, 4);
      scene.add(ambientLight);

      camera.position.z = 250;

      var controls = new OrbitControls(camera, renderer.domElement);

      new MTLLoader()
        .setPath('./static/obj/male02/')
        .load('male02.mtl', function (materials) {
          materials.preload();

          new OBJLoader()
            .setPath('./static/obj/male02/')
            .setMaterials(materials)
            .load('male02.obj', function (object) {
              object.position.y = -95;
              scene.add(object);
            });
        });

      // /* 繰り返しの処理　*/

      var animate = function () {
        requestAnimationFrame(animate);

        renderer.render(scene, camera);
      };

      animate();
    </script>

   <div class="back-button-container">
    <form action="/templates" method="get">
      <input type="submit" value='Back' class="back-button">
    </form>
  </div>  
  </body>
</html>
